body {
    font-family: monospace;
    background-color: darkgray;
    color: white;
}

#nav {
    list-style-type: none;
    padding: 0;
    background-color: #000;
    border-radius: 10px;
    margin-auto: 10px;
    overflow: hidden;
}

#nav li {
    display: inline;
    font-size: 36px;
}

#nav li a {
    background-color: #49fb35;
}

#nav li a:hover {
    background-color: #000;
}
