body {
    font-family: monospace;
    background-color: darkgray;
    color: white;
    font-size: 18px;
}

#nav {
    list-style-type: none;
    padding: 0;
    background-color: #000;
    border-radius: 10px;
    margin-auto: 10px;
    overflow: hidden;
}

#nav li {
    display: inline;
    font-size: 32px;
    float: left;
}

#nav li a {
    background-color: inherit;
    color: #49fb35;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #49fb35;
    color: #000;
}

#nav li a img {
    width: 100px;
    height: 50px;
}

#nav .nav_section {
    padding-left: 10px;
    padding-right: 10px;
}

#nav li #time_count {
    color: #49fb35;
}

#nav .last {
    float: right;
    font-size: 24px;
}

#nav .active {
    background-color: darkgray;
}

/* Heavily modified from https://css-tricks.com/examples/hrs/ */

hr {
    overflow: visible;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr:after {
    content: "\00A7";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background-color: darkgray;
}

/* End <hr/> styling */

table {
    width: 100%;
}

.photo_table {
    width: 275px !important;
    height: 275px !important;
}

table, th, td {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    background-color: #49fb35;
}

.bar {
    display: inline-block;
}

.icon {
    width: 16px;
    height: 16px;
}
